<ion-header>
  <ion-toolbar class="retour">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="container-logo">
        <img class="logo-img" src="../assets/img/logo-img.png" alt="logo-img.png" />
        <div>
            <!-- <img class="logo-text" src="../assets/img/logo-text-white.png" alt="logo-text.png" /> -->
            <h4>Mes informations</h4>
          </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

<div *ngIf="infos_user">
  <div>
    <form [formGroup]="modifForm" id="modifForm">
      <ion-item lines="none">
        <ion-label position="stacked">Nom utilisateur:</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
        <ion-button class="edit-btn_n" color="primary-contrast"  fill="clear">
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-item>
        
      <div class="message-error">
        <div class="content-error" no-lines *ngIf="modifForm.get('username').hasError('required') && modifForm.get('username').touched">
          <div class="error" *ngIf="modifForm.get('username').hasError('required') && modifForm.get('username').touched">
            Veuillez saisir votre nom utilisateur
          </div>
        </div>
      </div>

      <ion-item lines="none">
        <ion-label position="stacked">Nom:</ion-label>
        <ion-input type="text" formControlName="nom"></ion-input>
        <ion-button class="edit-btn_n" color="primary-contrast"  fill="clear">
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-item>

      <div class="message-error">
        <div class="content-error" no-lines *ngIf="modifForm.get('nom').hasError('required') && modifForm.get('nom').touched">
          <div class="error" *ngIf="modifForm.get('nom').hasError('required') && modifForm.get('nom').touched">
            Veuillez saisir votre nom
          </div>
        </div>
      </div>
    </form>  

      <ion-item lines="none">
        <ion-label position="stacked" (click)= "modifemail(infos_user.email)">Email:</ion-label>
        <ion-input [(ngModel)]="infos_user.email" (click)= "modifemail(infos_user.email)" disabled></ion-input>
        <ion-button class="edit-btn" color="primary-contrast"  fill="clear" (click)="modifemail(infos_user.email)">
          <ion-icon slot="end" name="create" class="edit-btn_mail"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item lines="none" (click)= "modify_password()">  
        <ion-label position="stacked">Mot de passe</ion-label>
        <ion-button class="edit-btn_pwd" color="primary-contrast"  fill="clear">
          <ion-icon slot= "end" name="create" class="edit-icon_pwd"></ion-icon>
        </ion-button>
      </ion-item>
  </div>

  <div>
    <ion-button expand = "block" (click)="updateClient()">
      <ion-icon name     = "save"></ion-icon>
      <ion-label>Enregistrer</ion-label>
      <ion-spinner *ngIf = "spinner_button" name="dots" color="primary-contrast"></ion-spinner>
    </ion-button>
  </div>
</div>

</ion-content>