ion-toolbar {
    --background: var(--ion-color-primary);
}

ion-label, ion-input {
    font-family: var(--ion-font-family-bold) !important;
  
    font-size: 13.6px !important;
}

ion-item {
    --highlight-color-valid: var(--ion-color-primary) !important;
}

ion-input {
    --color: var(--ion-color-secondary);
}

.birthday {
    color: var(--ion-color-secondary) !important;
}

ion-spinner {
    margin-left: 20px;
}
ion-icon {
    opacity : 0.4;
    font-size: 14px;
}

ion-input {
    width: 75%;
    display: inline-block;
}
.edit-btn_n,.edit-btn_t,.edit-btn_p,.edit-btn {
    
    position:absolute;
    right: 15px;
    top: 8px;
}
.edit-btn_pwd {
    
    position:absolute;
    right: 15px;
    top: 15px;
}

