<ion-header id="menu_haut">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="black"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="container-logo_sans">
        <img class="logo-img" src="../assets/img/logo-img.png" alt="logo-img.png" />
        <!-- <img class="logo-text" src="../assets/img/logo-text.png" alt="logo-text.png" /> -->
      </div>
    </ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <div *ngIf="spinner" class="spinner_center">
    <ion-spinner color="primary"></ion-spinner>
    <label>{{'spinner' | translate}}</label>
  </div>
  <div *ngIf="property" class="detail_property">
    <img [src]="property.url_image" [style.width]="'100%'">
    <div [innerHTML]="property.description" padding></div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button fill="clear" [routerLink]="['/agent', property.ID_agent]" text-right>{{property.nom_agent}}</ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" [routerLink]="['/location', property.location]" text-right>{{'properties.location' | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>


