<ion-header id="menu_haut">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="black"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="container-logo_sans">
        <img class="logo-img" src="../assets/img/logo-img.png" alt="logo-img.png" />
        <!-- <img class="logo-text" src="../assets/img/logo-text.png" alt="logo-text.png" /> -->
      </div>
    </ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <div *ngIf="spinner" class="spinner_center">
    <ion-spinner color="primary"></ion-spinner>
    <label>{{'spinner' | translate}}</label>
  </div>
  <div *ngIf="property && agent" class="detail_property">
    <img [src]="property.url_image" [style.width]="'100%'">
    <div [innerHTML]="property.description" padding></div>
    <ion-button fill="clear" [routerLink]="['/agent', agent.ID]" text-right>{{agent.nom_agent}}</ion-button>
  </div>
</ion-content>


