<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="container-logo_sans">
        <img class="logo-img" src="../assets/img/logo-img.png" alt="logo-img.png" />
        <!-- <img class="logo-text" src="../assets/img/logo-text.png" alt="logo-text.png" /> -->
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="spinner" class="spinner_center">
    <ion-spinner color="primary"></ion-spinner>
    <label>{{'spinner' | translate}}</label>
  </div>

  <ion-card *ngFor="let property of properties">
    <div>
      <ion-card-header>
        <ion-card-title class="title_property" [innerHTML]="property.title_property"></ion-card-title>
      </ion-card-header>
      <ion-card-content class="property">
        <img [src]="property.url_image">
        <div>
          <ion-card-subtitle>{{ property.adresse}}</ion-card-subtitle>
          <ion-card-subtitle>{{ property.prix}}</ion-card-subtitle>
        </div>
        <ion-button expand="full" fill="clear" [routerLink]="['/property', property.id]" text-right>{{'actus.lire' | translate}}</ion-button>
      </ion-card-content>
    </div>
  </ion-card>

</ion-content>
