
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="container-logo_sans">
        <img class="logo-img" src="../assets/img/logo-img.png" alt="logo-img.png" />
        <!-- <img class="logo-text" src="../assets/img/logo-text.png" alt="logo-text.png" /> -->
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="spinner" class="spinner_center">
      <ion-spinner color="primary"></ion-spinner>
      <label>{{'spinner' | translate}}</label>
    </div>

    <ion-card *ngFor="let item of items">
      <div>
        <ion-card-header>
          <ion-card-title class="title_actus" [innerHTML]="item.title.rendered"></ion-card-title>
          <ion-card-subtitle>{{ item.date | date:dateFormat }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="actus">
          <img [src]="item._embedded['wp:featuredmedia'][0]['media_details'].sizes['medium'].source_url">
          <div [innerHTML]="item.excerpt.rendered"></div>
          <ion-button expand="full" fill="clear" [routerLink]="['/actus', item.id]" text-right>{{'actus.lire' | translate}}
          </ion-button>
        </ion-card-content>
      </div>
    </ion-card>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="getMorePosts($event)" [disabled]="infiniteScrollDisabled()">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
      </ion-infinite-scroll>

</ion-content>
