

.actuality-title, .btn-show-more{
    font-family: var(--ion-font-family-bold);
}
.container-show-more{
    text-align: right;
}

.message-aucun-connexion, .message-error {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}