<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" >
            <ion-item routerDirection="root" [routerLink]="['/search-property']" lines="none" detail="false" >
              <ion-icon slot="start" name="Home"></ion-icon>
              <ion-label>{{'menu.home' | translate}}</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/actus']" lines="none" detail="false" >
              <ion-icon slot="start" name="list"></ion-icon>
              <ion-label>{{'menu.actus' | translate}}</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/property']" lines="none" detail="false" >
              <ion-icon slot="start" name="card"></ion-icon>
              <ion-label>{{'menu.programme' | translate}}</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/agent']" lines="none" detail="false" >
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>{{'menu.agent' | translate}}</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/dashboard']" lines="none" detail="false" >
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>{{'menu.moncompte' | translate}}</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/location']" lines="none" detail="false" >
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>location</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
