<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="container-logo_sans">
        <img class="logo-img" src="../assets/img/logo-img.png" alt="logo-img.png" />
        <!-- <img class="logo-text" src="../assets/img/logo-text.png" alt="logo-text.png" /> -->
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="spinner" class="spinner_center">
    <ion-spinner color="primary"></ion-spinner>
    <label>chargement</label>
  </div>
  <div class="container-menu">
    <div class="container-list">
      <div class="listagent">
        <div *ngFor="let agent of agents" (click)="infoagent(agent.ID)">
          <ion-card>
            <ion-item>
              <ion-avatar item-start>
                <img alt="" [src]="agent.url_image">
              </ion-avatar>
              <h2> {{agent.nom_agent}} - {{ agent.name_company}} </h2>
            </ion-item>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>
