<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="black"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col size="4">
            <img src="../assets/img/logo-img.png" alt="logo-img.png" /></ion-col>
        <ion-col size="8">                                                                   

            <!-- <img class="logo-text-white" src="../assets/img/logo-text-white.png" alt="logo-text.png" /> -->

            <ion-text color="light">
              <h1>{{'login_signup.bienvenue' | translate}}</h1>
            </ion-text>
        </ion-col>
    </ion-row>
</ion-grid>

<ion-card class="container-subscribe">
    <ion-card-header>
        <ion-card-title>
            <ion-text color="primary">
              {{'login_signup.inscription' | translate}}
            </ion-text>
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>

        <!-- debut form -->
        <form [formGroup]="register_form">

            <!-- item1 -->
            <ion-item lines="none">
                <ion-icon class="input-icon" color="primary" name="person" slot="start"></ion-icon>
                <sup>*</sup>
                <ion-input formControlName="username" type="text"
                    placeholder="{{'login_signup.id_inscrit' | translate}}">
                </ion-input>
            </ion-item>

            <div class="message-error">
                <div class="content-error" no-lines
                    *ngIf="register_form.get('username').hasError('required') && register_form.get('username').touched">
                    <div class="error"
                        *ngIf="register_form.get('username').hasError('required') && register_form.get('username').touched">
                        {{'modifierMail.meserreurid_inscrit' | translate}}
                    </div>
                </div>
            </div>


            <!-- item2 -->
            <ion-item lines="none">
                <ion-icon class="input-icon" color="primary" name="person" slot="start"></ion-icon>
                <sup>*</sup>
                <ion-input formControlName="displayName" type="text" placeholder="{{'login_signup.nomCompte' | translate}}">
                </ion-input>
            </ion-item>

            <div class="message-error">
                <div class="content-error" no-lines
                    *ngIf="register_form.get('displayName').hasError('required') && register_form.get('displayName').touched">
                    <div class="error" *ngIf="register_form.get('displayName').hasError('required') && register_form.get('displayName').touched">
                      {{'modifierMail.meserreuranciennom' | translate}}
                    </div>
                </div>
            </div>

            <!-- item4 -->
            <ion-item lines="none">
                <ion-icon class="input-icon" color="primary" name="mail" slot="start"></ion-icon>
                <sup>*</sup>
                <ion-input formControlName="email" type="email"
                    placeholder="{{'login_signup.email_inscrit' | translate}}"
                    [class.error1]="!register_form.controls.email.valid && register_form.controls.email.dirty">
                </ion-input>
            </ion-item>

            <div class="message-error">
                <div class="content-error" no-lines
                    *ngIf="(register_form.get('email').hasError('pattern') ||register_form.get('email').hasError('required') ) && register_form.get('email').touched">
                    <div class="error" *ngIf="register_form.get('email').hasError('required') && register_form.get('email').touched">
                      {{'modifierMail.meserreurmailinscrit' | translate}}
                    </div>
                    <div class="error" *ngIf="register_form.get('email').hasError('pattern') && register_form.get('email').touched">
                      {{'modifierMail.mesvalidemail' | translate}}
                    </div>
                </div>
            </div>
            <!-- item6 -->
            <ion-item lines="none">
                <ion-icon class="input-icon" color="primary" name="lock" slot="start"></ion-icon>
                <sup>*</sup>
                <ion-input formControlName="password" type="password"
                    placeholder="{{'login_signup.mdpInscription' | translate}}"></ion-input>
            </ion-item>

            <div class="error-message">
                <div class="content-error" no-lines
                    *ngIf="( register_form.get('password').hasError('minlength') || register_form.get('password').hasError('maxlength') || register_form.get('password').hasError('required') ) && register_form.get('password').touched">

                    <div class="error" *ngIf="register_form.get('password').hasError('required') && register_form.get('password').touched">
                      {{'modifierMail.meserreurancienmdp' | translate}}
                    </div>

                    <div class="error" *ngIf="register_form.get('password').hasError('minlength') && register_form.get('password').touched">
                      {{'modifierMail.meserreurancienmdpmin' | translate}}
                    </div>
                    <div class="error" *ngIf="register_form.get('password').hasError('maxlength') && register_form.get('password').touched">
                      {{'modifierMail.meserreurancienmdpmax' | translate}}
                    </div>

                </div>
            </div>

            <ion-item style="display: none;">
              <ion-label color="primary">Email</ion-label>
              <ion-input type="email" formControlName="email_admin" ></ion-input>
            </ion-item>
        
            <ion-item style="display: none;">
              <ion-label color="primary">Password</ion-label>
              <ion-input type="password" formControlName="password_admin" ></ion-input>
            </ion-item>

            <!-- bouton -->
            <div class="log-in">
                <ion-button [disabled]="!register_form.valid" (click)="onSubmit()" shape="round" color="primary" expand="block">
                  {{'login_signup.boutonAllerInscription' | translate}} !</ion-button>
            </div>

        </form>
        <!-- fin form -->


        <ion-text color="primary">
            <p class="not-registered-text">{{'login_signup.dejaInscrit' | translate}} ?</p>
        </ion-text>
        <ion-button fill="clear" class="subscribe-btn" color="primary" [routerLink]="['/login']">
          {{'login_signup.seConnecter' | translate}}
        </ion-button>
    </ion-card-content>
</ion-card>

</ion-content>
